@{
    ViewBag.Title = "Home Page";
}

<h1>What you want to do: </h1>

<div class="row">
    <div class="col-md-4">
        <div class="card border-light-3" style="max-width: 20rem;">
            <div class="card-header">Accounts</div>
            <div class="card-body">
                <h4 class="card-title">Add new account</h4>
                <p class="card-text">The Budget needs account, with this we can start a journey with personal budget</p>
                <p class="text-center">@Html.ActionLink("Click here...", "New", "BudgetAccounts", null, new { @class = "btn btn btn-dark " })</p>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card border-light-3" style="max-width: 20rem;">
            <div class="card-header">Categories</div>
            <div class="card-body">
                <h4 class="card-title">Add new category</h4>
                <p class="card-text">Good practice is to regocnize where you money away so if you spend your money you need to know where it gone</p>
                <p class="text-center">@Html.ActionLink("Click here...", "New", "Categories", null, new { @class = "btn btn-dark " })</p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card border-light-3" style="max-width: 20rem;">
            <div class="card-header">Transactions</div>
            <div class="card-body">
                <h4 class="card-title">Add new transaction</h4>
                <p class="card-text">The base of every home budget is to watch cash flow. Pay attention to add every bill, to corresponding account !</p>
                <p class="text-center">@Html.ActionLink("Click here...", "New", "Transactions", null, new { @class = "btn btn btn-dark " })</p>
            </div>
        </div>
    </div>
</div>